.inCartImage {
    animation: rotate 5s linear infinite;
}
@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.inCartTorkImage {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
