body {
   
}
/*.productkepsbox {
    width: 250px;
    height: 300px;
    margin: 20px auto;
    background: #FFFFFF;
    box-shadow: 3px 4px 5px 1px rgba(0,0,0,0.10);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.producttorkbox {
    width: 250px;
    height: 300px;
    margin: 20px auto;
    background: #FFFFFF;
    box-shadow: 3px 4px 5px 1px rgba(0,0,0,0.10);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.propellerBoxPic {
    padding-top: 15px;
    padding-bottom: 10px;
}

.torkBoxPic {
    padding-top: 15px;
    padding-bottom: 10px;
}
*/
