@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "AdministratorSentOrders";
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}

<h1>HÄR SKA SKICKADE ORDRAR VISAS</h1>
<div id="sentorders">
    <h2>Skickade ordrar</h2>
    <div id="sentorderlist">
        <ul>
            <li>Skickad order 1 <input type="button" class="btn-dark" value="Checked" /></li>
            <li>Skickad order 2</li>
            <li>Skickad order 3</li>
            <li>Skickad order 4</li>
            <li>Skickad order 5</li>
        </ul>

    </div>
</div>