@model propeller_torken.Services.OrderService
@{
    ViewData["Title"] = "AdministratorOrders";
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}



<h1>HÄR SKA ORDRAR VISAS</h1>
<div id="currentOrders">
    <h2>Nuvarande ordrar</h2>
    <div id="currentorderlist">

        @if(Model != null)
        {
            foreach(var orders in Model.CurrentOrderList)
            {
               
             <li>@orders.OurCustomer.FirstName @orders.OurProduct @orders.Date </li>
            }
        }


    </div>
</div>

