@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "AdministratorContact";
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}


<h1>HÄR HAR VI KONTAKT TILL TEAM3PROPELLERTREKANT</h1>
<h2>Här skulle vara en kontaktsida men vi ångra oss :)</h2>


<button type="button" >Klicka</button>

<p id="pCarlLeker">Hej hej hej hemsktmycket hej här leker carl lite och tycker det är jättekul</p>
