@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Här loggar admin in :)</h1>

<div>
    <form method="post">
        <div>
            <!--<label for="fname">Användarnamn:</label><br />-->
            <span><i class="fa fa-user-circle-o fa-2x input-group-prepend" aria-hidden="true"></i></span>
            <input type="text" id="fname" name="fname" placeholder="Username" required /><br />
        </div>
        <div>
            <!--<label>Lösenord:</label><br -->
            <i class="fa fa-key fa-2x"></i>
            <input type="password" id="pword" name="pword" placeholder="Password" required /><br />
        </div>
        <div>
            <input type="submit" value="Logga in" />
        </div>
    </form>
</div>