@model List<PropellerTorkenMain.Models.Database.Order>
@{
    ViewData["Title"] = "AdministratorSentOrders";
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}


<div id="sentOrders">
    <h2>Skickade ordrar</h2>
    <div id="sentorderlist">

        @if (Model != null)
        {
            <ul>
                @foreach (var orders in Model)
                {
                    <li>
                        <span>
                            @orders.Id @orders.Date @orders.OrderStatus @orders.OurCustomerNavigation.Firstname
                        </span>
                    </li>

                }
            </ul>
        }
    </div>
</div>