@model PropellerTorkenMain.Models.Database.PropellerDataContext
@{
    ViewData["Title"] = "AdministratorOrders";
    Layout = "~/Views/Shared/_Adminlayout.cshtml";

}
<h1>HÄR SKA ORDRAR VISAS</h1>
<div id="currentOrders">
    <h2>Nuvarande ordrar</h2>
    <div id="currentorderlist">

        @if (Model != null)
        {
            <ol>
                @foreach (var orders in Model.Orders)
                {
                    <li>
                        @orders.Id
                        <ul>
                            <li>
                                @orders.OurCustomer
                            </li>
                        </ul>
                    </li>
                }
            </ol>
        }
    </div>
</div>