@model List<PropellerTorkenMain.Models.Database.Order>
@{
    ViewData["Title"] = "AdministratorOrders";
    Layout = "~/Views/Shared/_Adminlayout.cshtml";

}
<h1>HÄR SKA ORDRAR VISAS</h1>
<div id="currentOrders">
    <h2>Nuvarande ordrar</h2>
    <div id="currentorderlist">

        @if (Model != null)
        {

            <ul>
                @foreach (var items in Model)
                {
                    <li>
                        <span>@items.Id @items.Date</span>
                        <span>
                            <button type="submit" id="AddToSentList" value="Send" onclick="location.href='@Url.Action("Send", "Admin", new { id = items.Id, os = Model})'">Skicka </button>
                            <button type="submit" id="Remove" value="Delete" onclick="location.href='@Url.Action("Delete", "Admin", new { id = items.Id, os = Model})'">Ta bort</button>
                        </span>
                    </li>
                }
            </ul>
        }
    </div>
</div>