@model List<PropellerTorkenMain.Models.Database.Order>
@{
    ViewData["Title"] = "AdministratorSentOrders";
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}


<div id="sentOrders">
    <h2>Skickade ordrar</h2>
    <div class="table table-striped" id="sentorderlist">

        @if (Model != null)
        {
            <table>
                @foreach (var orders in Model)
                {
                <tr>
                    <td> @orders.Id</td>
                    <td> @orders.Date</td>
                    <td>@orders.OurCustomerNavigation.Firstname </td>
                    <td>@orders.OrderStatus</td>
                  
                </tr>

                }
            </table>
        }
    </div>
</div>