@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ContactPage";
    Layout = "../Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Våra medarbetare</h1>
<div class="row">
    <div class="contactBox" id="ContactInfo">
        <form method="post">
            <div>
                <div class="titleTitle" style="text-align:center ">
                    <strong>CEO</strong>
                </div>
                <div class="contactBoxPic" align="center">
                    <img src="~/images/Calleintebrednomore.png" width="200" height="200" />
                </div>
                <h6 style="text-align:center">Carl Emil Lidbom</h6>
                <div>
                    <ul>
                        <li>Snygg</li>
                        <li>Sexig</li>
                        <li>Har skägg</li>
                        <li>0733-33 33 31</li>
                        <li>calle.i.bil@propellermail.com</li>
                    </ul>
                </div>
            </div>
        </form>
    </div>

    <div class="contactBox" id="ContactInfo">
        <form method="post">
            <div>
                <div class="titleTitle" style="text-align:center ">
                    <strong>COO</strong>
                </div>
                <div class="contactBoxPic" align="center">
                    <img src="~/images/Elincropped.png" width="200" height="200" />
                </div>
                <h6 style="text-align:center">Elin Ortega</h6>
                <div>
                    <ul>
                        <li>Nyfiken</li>
                        <li>Gillar bubbel</li>
                        <li>Christians bestiz</li>
                        <li>0733-33 33 32</li>
                        <li>elin.i.garaget@propellermail.com</li>
                    </ul>
                </div>
            </div>
        </form>
    </div>

    <div class="contactBox" id="ContactInfo">
        <form method="post">
            <div>
                <div class="titleTitle" style="text-align:center ">
                    <strong>CTO</strong>
                </div>
                <div class="contactBoxPic" align="center">
                    <img src="~/images/carlcropped.png" width="200" height="200" />
                </div>
                <h6 style="text-align:center">Jony Kiiskinen</h6>
                <div>
                    <ul>
                        <li>Gillar tjejer</li>
                        <li>Men har bara en...</li>
                        <li>Har fyllt 40</li>
                        <li>0733-33 33 33</li>
                        <li>jony.oskulden@propellermail.com</li>
                    </ul>
                </div>
            </div>
        </form>
    </div>

    <div class="contactBox" id="ContactInfo">
        <form method="post">
            <div>
                <div class="titleTitle" style="text-align:center ">
                    <strong>Head of propellerdesign</strong>
                </div>
                <div class="contactBoxPic" align="center">
                    <img src="~/images/carlcropped.png" width="200" height="200" />
                </div>
                <h6 style="text-align:center">Carl Malmström</h6>
                <div>
                    <ul>
                        <li>Gillar kebab</li>
                        <li>Halfling Bard</li>
                        <li>Omogen</li>
                        <li>0733-33 33 34</li>
                        <li>carl.blackout@propellermail.com</li>
                    </ul>
                </div>
            </div>
        </form>
    </div>

    <div class="contactBox" id="ContactInfo">
        <form method="post">
            <div>
                <div class="titleTitle" style="text-align:center ">
                    <strong>Head of cybersecurity</strong>
                </div>
                <div class="contactBoxPic" align="center">
                    <img src="~/images/SötbildJoelKeps.png" width="200" height="200" />
                </div>
                <h6 style="text-align:center">Joel Hedman Persson</h6>
                <div>
                    <ul>
                        <li>Gillar bastun</li>
                        <li>Pappa</li>
                        <li>Har en mancave</li>
                        <li>0733-33 33 36</li>
                        <li>joel.i.bastun@propellermail.com</li>
                    </ul>
                </div>
            </div>
        </form>
    </div>

    <div class="contactBox" id="ContactInfo">
        <form method="post">
            <div>
                <div class="titleTitle" style="text-align:center ">
                    <strong>Head of everything else</strong>
                </div>
                <div class="contactBoxPic" align="center">
                    <img src="~/images/antonmedpropellercrop.png" width="200" height="200" />
                </div>
                <h6 style="text-align:center">Anton Nilsson</h6>
                <div>
                    <ul>
                        <li>Nörd</li>
                        <li>Gillar öl</li>
                        <li>Fitness master</li>
                        <li>0733-33 33 35</li>
                        <li>anton.i.linne@propellermail.com</li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>