@{
    ViewData["Title"] = "Home Page";
    Layout = "../Shared/_Layout.cshtml";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->

<style>
    body{
        background-color:hotpink;
    }
</style>

<div>
    <h1 id="homePageIntroOne">Välkommen till GruppTrekantsPropellerShop!</h1>
</div>


<div>
    <h2 id="homePageIntroTwo">
        Här säljer vi allt från Propellerkepsar till Torktumlare!
    </h2>
</div>

<div>
    <h3 id="homePageIntroThree">
        Fast nä, det gör vi inte
    </h3>
</div>

<div>
    <h3 id="homePageIntroFour">
        Vi säljer bara Propellerkepsar och Torktumlare
    </h3>
</div>

<div class="row" id="employeePhoto">
    <img src="~/images/carlcropped.png" width="200" height="200" />
    <img src="~/images/Calleintebrednomore.png" width="200" height="200"/>
    <img src="~/images/Elincropped.png" width="200" height="200" />
    <img src="~/images/antonmedpropellercrop.png" width="200" height="200" />
    <img src="~/images/SötbildJoelKeps.png" width="200" height="200" />
</div>

<div id="homePageIntroFive">
    <h3>Och vi kommer hantera dina ordrar, välkomna!</h3>
</div>