@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "../Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>


<img src="~/images/hackingpepe.png" />
<h4>Alla uppgifter du anger sparas i Carls privata databas</h4>