@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ProductPage";
    Layout = "~/Views/Shared/_Productlayout.cshtml";
}
<style>
    a {
        color: black;
    }
</style>

<div class="productbox col-lg-4" id="kepsbox">
    <form method="post">
        <div class="propellerBoxPic" align="center">
            <a href="~/Product/PropellerKepsar" />
           
            <img src="~/images/propellerkeps-3.png" id="propellerbilden" width="200" height="200" />
            <h4>@Html.ActionLink("Propellerkepsar", "PropellerKepsar", "Product")</h4>
        </div>
    </form>
</div>

<div class="productbox col-lg-4" id="torkItem">
    <form method="post">
        <div class="torkBoxPic" align="center">
            <a href="~/Product/Torktumlare" />
            <img src="~/images/svartTorktumlare.png" id="torkbilden" width="200" height="200" />
            <h4>@Html.ActionLink("Torktumlare", "TorkTumlare", "Product")</h4>
        </div>
    </form>
</div>