@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Propellerkepsen från Åkarp";
    Layout = "~/Views/Shared/_Productlayout.cshtml";
}
<section class="container">
    <div class="row">
        <article class="col-sm-4">
            <div class="productkepsboxEtt" id="kepsboxett">
                <form method="post">

                    <div class="propellerFirstPic" align="center">
                        <img class="img-thumbnail img-fluid" src="~/images/propkeps_3.jpg" height="200" width="200" />
                    </div>

                    <h5 style="text-align:center">Vår ena propellerkeps</h5>
                    <p class="text-wrap" style="text-align:center">Den är fantastisk!</p>
                    <div class="align-content-center"><input type="button" class="btn-danger btn-lg" value="Köp" /></div>
                </form>
            </div>
        </article>

        <article class="col-sm-4">
            <div class="productkepsboxTwo" id="kepsboxtwo">
                <form method="post">
                    <div class="propellerSecPic" align="center">
                        <img class="img-thumbnail img-fluid" src="~/images/Modellfoto_Calle.jpg" height="200" width="200" />
                    </div>
                    <h5 style="text-align:center">Här är den andra</h5>
                    <p class="text-wrap" style="text-align:center">Visst är den fin?</p>
                    <input type="button" class="btn-danger btn-lg" value="Köp" />

                </form>
                </div>
        </article>
        <article class="col-sm-4">
            <div class="productkepsboxThree" id="kepsboxthree">
                <form method="post">
                    <div class="propellerThirdPic" align="center">
                        <img class="img-thumbnail img-fluid" src="~/images/Modellfoto_Elin.jpg" height="200" width="200" />
                    </div>
                    <h5 style="text-align:center">Och den första igen</h5>
                    <p class="text-wrap" style="text-align:center">Jag sover med min varje natt.</p>
                    <input type="button" class="btn-danger btn-lg" value="Köp" />
                </form>
                </div>
        </article>
    </div>  
</section>