@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Propellerkepsen från Åkarp";
    Layout = "~/Views/Shared/_Productlayout.cshtml";
}
<section class="container">
    <div class="row">
        <div class="productkepsboxEtt" id="kepsboxett">
            <form method="post">
                <article class="col-sm-4">
                    <div class="propellerFirstPic" align="center">
                        <img class="img-thumbnail img-fluid" src="~/images/propkeps_3.jpg" height="250" width="250" />
                        </div>
                        <input type="button" class="btn-danger btn-lg" value="Köp" />
                        <h5>Vår ena propellerkeps</h5>
                        <p class="text-wrap">Den är fantastisk!</p>
                </article>
                </form>
            </div>
                <article class="col-sm-4">
                    <img class="img-thumbnail img-fluid" src="~/images/Modellfoto_Calle.jpg" height="200" width="200" />
                    <input type="button" class="btn-danger btn-lg" value="Köp" />
                    <h5 class="h5 text-nowrap">Här är den andra</h5>
                    <p class="text-wrap">Visst är den fin?</p>
                </article>
                <article class="col-sm-4">
                    <img class="img-thumbnail img-fluid" src="~/images/Modellfoto_Elin.jpg" height="200" width="200" />
                    <input type="button" class="btn-danger btn-lg" value="Köp" />
                    <h5 class="h5 text-nowrap">Och den första igen</h5>
                    <p class="text-wrap">Jag sover med min varje natt.</p>
                </article>
        </div>
</section>