@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Torktumlare Galore";
    Layout = "~/Views/Shared/_Productlayout.cshtml";
}

<section class="container" id="ProductDryers">
    <div class="row">
        <article class="col-sm-4">
            <div class="productbox" id="boxtork">
                <form method="post">
                    <div class="torkPic" align="center">
                        <img src="~/images/svartTorktumlare.png" id="torkbilden" height="200" width="200" />
                    </div>

                    <h4 style="text-align:center">Torkatumlare 1100</h4>
                    <p class="text-wrap" style="text-align:center">Vår basmodell, ganska tråkig</p>
                    <div class="d-flex justify-content-center ">
                        <button class="btn-info btn-lg" asp-action="CreateSessionForItem4" style="font-size:18px" id="redbutton">Add to cart <i class="fa fa-shopping-cart"></i></button>
                    </div>
                </form>
            </div>
        </article>
        <article class="col-sm-4">
            <div class="productbox" id="boxtork">
                <form method="post">
                    <div class="torkPic" align="center">
                        <img src="~/images/svartTorktumlare.png" id="torkbilden" height="200" width="200" />
                    </div>

                    <h4 style="text-align:center">Torkatumlare 3000</h4>
                    <p class="text-wrap" style="text-align:center">Vår första modell, den är helt okej</p>
                    <div class="d-flex justify-content-center ">
                        <button class="btn-info btn-lg" asp-action="CreateSessionForItem5" style="font-size:18px" id="redbutton">Add to cart <i class="fa fa-shopping-cart"></i></button>
                    </div>
                </form>
            </div>
        </article>
        <article class="col-sm-4">
            <div class="productbox" id="boxtork">
                <form method="post">
                    <div class="torkPic" align="center">
                        <img src="~/images/svartTorktumlare.png" id="torkbilden" height="200" width="200" />
                    </div>

                    <h5 style="text-align:center">Torkatumlaren<br /> "Tre systemutvecklare, ett git-repo"</h5>
                    <p class="text-wrap" style="text-align:center">Premiummodellen, du kommer bli blöt<br /> över hur torr den gör saker.</p>
                    <div class="d-flex justify-content-center ">
                        <button class="btn-info btn-lg" asp-action="CreateSessionForItem6" style="font-size:18px" id="redbutton">Add to cart <i class="fa fa-shopping-cart"></i></button>
                    </div>
                </form>
            </div>
        </article>
    </div>
</section>