@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ProductPage";
    Layout = "~/Views/Shared/_Productlayout.cshtml";
}

<div class="row">
    <div id="productAlternative">
        <div class="productItem">
            <a id="propellerkepsbildenlink" href="https://localhost:44364/Product/PropellerKepsar">
                <img src="~/propkeps_3.jpg" id="propellerbilden" width="200" height="200" />
                <h4>Propellerkepsar</h4>
            </a>
        </div>
        <div class="productItem">
            <a id="torktumlarbildenlink" href="https://localhost:44364/Product/TorkTumlare">
                <img src="~/propkeps_3.jpg" id="torkbilden" width="200" height="200" />
                <!--<img src="~/se-dryer-dv80f5e5hgw-dv80f5e5hgw-ee-006-front-white.webp" id="torkbilden" width="200" height="200" />-->
                <h4>Torktumlare</h4>
            </a>
        </div>
    </div>
</div>
