@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ProductPage";
    Layout = "~/Views/Shared/_Productlayout.cshtml";
}
<div class="row" style="margin:0px auto; display:block; width: 500px;">
    <div style="float:left">
        <a class="fade-in" href="https://localhost:44364/Product/PropellerKepsar">
            <h2>Propeller Kepsar</h2>
            <img src="~/propkeps_3.jpg" width="200" height="200" />
        </a>
    </div>
    <div style="float:right">
        <a class="fade-in" href="https://localhost:44364/Product/TorkTumlare">
            <h2>TorkTumlare</h2>
            <img src="~/se-dryer-dv80f5e5hgw-dv80f5e5hgw-ee-006-front-white.webp" width="200" height="200" />
        </a>
    </div>
</div>