@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ContactPage";
}
<div class="row">
    <div>
        <img src="~/images/Calleintebrednomore.png" width="250" height="250" />
        <h4 style="text-align:center">Carl Emil Lidbom</h4>
        <div>
            <ul>
                <li>Snygg</li>
                <li>Sexig</li>
                <li>Har skägg</li>
                <li>calle.i.bil@propellermail.com</li>
            </ul>
        </div>
    </div>
    <div>
        <img src="~/images/Elincropped.png" width="250" height="250" />
        <h4 style="text-align:center">Elin Ortega</h4>
        <div>
            <ul>
                <li>Nyfiken i en strut</li>
                <li>Gillar bubbel</li>
                <li>Christians bestiz</li>
                <li>elin.i.garaget@propellermail.com</li>
            </ul>
        </div>
    </div>

    <div>
        <img src="~/images/carlcropped.png" width="250" height="250" />
        <h4 style="text-align:center">Carl Malmström</h4>
        <div>
            <ul>
                <li>Gillar kebab</li>
                <li>Halfling Bard</li>
                <li>Omogen</li>
                <li>carl.blackout@propellermail.com</li>
            </ul>
        </div>
    </div>

    <div>
        <img src="~/images/carlcropped.png" width="250" height="250" />
        <h4 style="text-align:center">Jony Kiiskinen</h4>
        <div>
            <ul>
                <li>Gillar tjejer</li>
                <li>Men har bara en...</li>
                <li>Har fyllt 40</li>
                <li>jony.oskulden@propellermail.com</li>
            </ul>
        </div>
    </div>

    <div>
        <img src="~/images/antonmedpropellercrop.png" width="250" height="250" />
        <h4 style="text-align:center">Anton Nilsson</h4>
        <div>
            <ul>
                <li>Nörd</li>
                <li>Gillar öl</li>
                <li>Fitness master</li>
                <li>anton.i.linne@propellermail.com</li>
            </ul>
        </div>
    </div>

    <div>
        <img src="~/images/SötbildJoelKeps.png" width="250" height="250"/>
        <h4 style="text-align:center">Joel Hedman Persson</h4>
        <div>
            <ul>
                <li>Gillar bastun</li>
                <li>Pappa</li>
                <li>Har en mancave</li>
                <li>joel.i.bastun@propellermail.com</li>
            </ul>
        </div>
    </div>
</div>